<launch>
  <node pkg="robot_state_publisher" name="robot_state_publisher" type="state_publisher" />
  <param name="robot_description" textfile="$(find robot_state_publisher)/test/two_links_moving_joint.urdf" />

  <test test-name="test_publisher" pkg="robot_state_publisher" type="test_two_links_moving_joint" />
</launch>
