<?xml version="1.0" encoding="utf-8"?>
<robot name="robot" version="1.0" xmlns="http://www.ros.org">
  <link name="link1"/>
  <link name="link2"/>
  <joint name="joint1" type="floating">
    <parent link="link1" />
    <child link="link2" />
  </joint>
  <sensor name="camera1" update_rate="20">
    <parent link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <camera>
      <image width="640" height="480" hfov="1.5708" format="RGB8" near="0.01" far="50.0"/>
    </camera>
  </sensor>
  <sensor name="ray1" update_rate="20">
    <parent link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <ray>
      <horizontal samples="100" resolution="1" min_angle="-1.5708" max_angle="1.5708"/>
      <vertical samples="1" resolution="1" min_angle="0" max_angle="0"/>
    </ray>
  </sensor>

  <sensor name="missing sensor" update_rate="20">
    <parent link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </sensor>
  <sensor name="unknown sensor" update_rate="20">
    <parent link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <unknown/>
  </sensor>
</robot>
