---
name: urdfdom ROS 2 CI

on:
  push:
  pull_request:

jobs:

  build_ros2:
    name: ROS 2 CI
    runs-on: ubuntu-22.04
    steps:
      - uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: rolling
      - uses: ros-tooling/action-ros-ci@v0.7
        with:
          package-name: urdfdom
          target-ros2-distro: rolling
